{% extends "base_generic.html" %}

{% block content %}
  <h1>Myriad Wetlab Capacity Planning Tool</h1>
  <p>Software Engineer Intern Project | Summer 2021 |<em>Myriad Genetics</em></p>
  <h2>Dynamic content</h2>
  <p>Summary:</p>
  <ul>
    <li><strong>Lab Templates:</strong> {{ num_labs }}</li>
    <li><strong>Instrument Types:</strong> {{ num_instrument_types }}</li>
  </ul>

  <h2>Read me:</h2>
  <ul style = "list-style: none">
  	<li><strong>Login: </strong>Sign in using the login link on the left to view the rest of the links.</li>
  	<li><strong>Create New Model: </strong>Create a new lab either using an existing template modeling the current state of the lab, or from scratch.</li>
  	<li>When building a lab model from scratch, do not use the back button to make changes to previous parts of the form. There will be an overview page at the end with the option to edit any parameters.</li>
  	<li><strong>My Lab Models: </strong> All created labs can be viewed on the "My Lab Models" page which lists the labs created by the current user.</li>
  </ul>
{% endblock %}