{% extends "base_generic.html" %}

{% block content %}

    <h2>Add Assays, Processes, Instruments to: {{ lab_name }}</h2>
    <div>
        <ul>
            {% for assay in object_list %}
                <li><strong>Assay Name:</strong> {{ assay.name }} | <a href="">edit</a></li>
                <ul>
                    {% for processinstance in assay.processinstance_set.all %}
                        <li> <strong>Process/Subprocess:</strong> {{ processinstance.process.name }}: {{ processinstance.subname }}</li>
                            <ul>
                                <li> <strong>Instrument:</strong> {{ processinstance.instrument.name }} </li>
                            </ul>
                    {% empty %}
                    <li>No processes added.</li>
                    {% endfor%}
                </ul>
            {% empty %}
                <li>No assays yet.</li>
            {% endfor %}
         </ul>
    <p><a href="{% url 'lab-assay-add' lab_id%}"> Add an assay to this lab</a></p>
    <h5>Add Instrument Instances for each Instrument Type:</h5>
        <ol>
            {% for assay in object_list %}
                {% for processinstance in assay.processinstance_set.all %}
                    <li>{{ processinstance.instrument.name }}: </li>
                    <ul>
                        {% for instrumentinstance in processinstance.instrument.instrumentinstance_set.all %}
                            <li> {{ instrumentinstance.identical_copies }} Copies | ({{ instrumentinstance.integrated_or_walkup }}) </li>
                        {% empty %}
                            <p>No instrument instances added.</p>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'instrument-form' lab_id processinstance.instrument.id %}"> add instrument instance(s)</a>
                {% endfor %}
            {% endfor%}
        </ol>

        <p><a href="{% url 'my-created' %}"> Finish Lab Model</a></p>
        
    </div>
{% endblock %}