{% extends "base_generic.html" %}

{% block content %}
<h1 class="display-4">Analysis for Lab: {{ lab_analysis.lab.name }}</h1>
<h3>Lab Overview:</h3>
<div class= "container">
<div class="row">
  <div class="col-md-4 nopadding">
    <h5>Lab Level Assumptions:</h5>
      <ul>
        <li>Offset: {{ lab_analysis.lab.offset }}</li>
        <li>Max Utilization: {{ lab_analysis.lab.max_utilization }}%</li>
        <li>Integrated Hours: {{ lab_analysis.lab.integrated_hours }}</li>
        <li>Walkup Hours: {{ lab_analysis.lab.walkup_hours }}</li>
        <li>Days per month: {{ lab_analysis.lab.days_per_month }}</li> 
      </ul>
  </div>
  <div class="col-md-8 nopadding">
        <h5>Sample Projections:</h5>
    <table class="table table-bordered table-hover table-sm">
            <caption> Sample projection by assay for six years out from the starting year (set in lab model). </caption>
            <thead>
              <tr>
                <th scope="col">Assay Name</th>
                {% for year in years %}
                  <th scope="col"> Year {{ year }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for assay in lab_analysis.lab.assay_set.all %}
                <tr>
                  <th scope="row">{{ assay.name }}</th>
                  <td> {{ assay.projection_for_year_1 }} </td>
                  <td> {{ assay.projection_for_year_2 }} </td>
                  <td> {{ assay.projection_for_year_3 }} </td>
                  <td> {{ assay.projection_for_year_4 }} </td>
                  <td> {{ assay.projection_for_year_5 }} </td>
                  <td> {{ assay.projection_for_year_6 }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
  </div>
</div>
<div class="row">
  {% for assay in lab_analysis.lab.assay_set.all %}
  <div class="col">
    <h6><strong>{{ assay.name }}: </strong></h6>
    <table class="table table-bordered table-hover table-sm">
      <caption style="caption-side: top;">{{ assay.name }} process and instrument breakdown.</caption>
          <thead>
            <tr>
              <th scope="col"> Process Name </th>
              <th scope="col"> Instrument Type </th>
              <th scope="col"> Instrument Details </th>
            </tr>
          </thead>
          <tbody>
              {% for processinstance in assay.processinstance_set.all %}
                <tr>
                  <th scope="row">
                  {{ processinstance.process.name }} <br>
                  ({{ processinstance.subname }})
                </th>
                  <td> {{ processinstance.instrument.name }} </td>
                  <td>
                      <ul>                 
                        {% for instrumentinstance in processinstance.instrument.instrumentinstance_set.all %}
                        <li> ({{ instrumentinstance.integrated_or_walkup }}) {{ instrumentinstance.instrument.name }}: {{ instrumentinstance.identical_copies }}</li>
                        {% endfor%}
                      </ul> 
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>   
  </div>
  {% endfor %}  
</div>
</div>
<h2>Pull Historical Data from Snowflake:</h2>

<h3>Set Failure Rate:</h3>
<p><strong> Current Failure Rate:</strong> {{ lab_analysis.failure_rate }}</p>
    <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ LabAnalysisForm.as_table }}
    </table>
    <input name='failurerate_form' type="submit" value="Submit">
    </form>
  <a href = "{% url 'snowflake' %}"> see historical failure rate data </a>

<h3>Set Offset:</h3>
<p><strong> Current Offset:</strong> {{ lab_analysis.lab.offset }}</p>
    <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ OffsetForm.as_table }}
    </table>
    <input name='offset_form' type="submit" value="Submit">
    </form>
  <a href = "{% url 'snowflake2' %}"> see historical offset/duration data </a>

  <h3>Analysis Links:</h3>
  <a href="{% url 'inst-hours' lab_analysis.lab.pk %}" >Instrument Utilization using Hours</a><br>
  <a href="{% url 'inst-samples' lab_analysis.lab.pk %}" >Instrument Utilization using Samples</a><br>
  <a href="{% url 'schedule' lab_analysis.lab.pk %}" >Lab Schedule for {{ lab_analysis.lab.name }}</a>
{% endblock %}