{% extends "base_generic.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
<h3> Idle times, Total Duration and Calculated Offset values by Instrument/Process: {{ low_date }}-{{ high_date }}:</h3>
  {% autoescape off %}
  {{ offset_df }}
  {% endautoescape %}
<h4>Offset: {{ rate }} </h4>
<p>Copy the failure rate for the desired three month period, and paste into the update failure rate entry field on the previous page.</p>
{% endblock %}