{% extends "base_generic.html" %}

{% block content %}
<h3 class="display-4">Lab Model Templates </h3>
<div id="accordion">
{% for template_lab in lab_template_list %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Template #1: South San Francisco 2021
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h5>Lab Details:</h5>
        <ul>
          <li>Offset: {{template_lab.offset}}</li>
          <li>Max Utilization: {{template_lab.max_utilization}}</li>
          <li>Integrated Hours: {{template_lab.integrated_hourst}}</li>
          <li>Walkup Hours: {{template_lab.walkup_hours}}</li>
          <li>Days per month: {{template_lab.days_per_month}}</li>
          <li>% of samples ordering FX: n/a</li>
          <li>FX Samples per batch: n/a</li>
        </ul>
          <h6>Assays:</h6>
          <div class='row'>
            {% for assay in template_lab.assay_set.all %}
              <div class='col-sm'>
                <ul>
                  <strong>{{assay.name}}:</strong>
                  <li>Samples per batch: {{assay.samples_per_batch}}</li>
                  <li>Samples per flowcell: n/a</li>
                  <li>1 Year Projection: {{assay.projection_for_year_1}}</li> 
                  <li>2 Year Projection: {{assay.projection_for_year_2}}</li> 
                  <li>3 Year Projection: {{assay.projection_for_year_3}}</li> 
                  <li>4 Year Projection: {{assay.projection_for_year_4}}</li> 
                  <li>5 Year Projection: {{assay.projection_for_year_5}}</li> 
                  <li>6 Year Projection: {{assay.projection_for_year_6}}</li>
                </ul>
              </div>
            {% endfor %}
          </div>
          <h6>Process/Instrument Details:</h6>
          <div class='row'>
            {% for assay in template_lab.assay_set.all %}
              <div class='col-sm'>
                <strong>{{assay.name}}: </strong>
                <ul>
                  {% for processinstance in assay.processinstance_set.all %}
                    <li>{{processinstance.process.name}}: {{processinstance.subname}} | {{processinstance.instrument.name}}</li>
                    <ul>
                      {% for instrumentinstance in processinstance.instrument.instrumentinstance_set.all %}
                          <li>{{instrumentinstance.identical_copies}} {{instrumentinstance.integrated_or_walkup}} copies of {{instrumentinstance.instrument.name}}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}

      </div>
      <form action="{% url 'make-clone' pk=template_lab.pk %}" method=POST>
      {% csrf_token %}
      <button id="clone-btn" type="submit" name='make_clone'>Clone {{ template_lab.name }}</button>
      </form>
    </div>
  </div>
</div>
  {% endfor %}
</div>
{% endblock %}